<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="SMTP_SERVER" value="smtp.gmail.com"/>
    <add key="SMTP_SERVER_PORT" value="587"/>
    <add key="SMTP_ACCOUNT" value=""/>
    <add key="SMTP_PASSWORD" value=""/>
    <add key="SMTP_FROM" value="alert@hotmail.com"/>
    <add key="SMTP_TO" value="maduka_bo2@hotmail.com"/>
    <add key="SMTP_ENABLESSL" value="true"/>
    <add key="SMTP_SUBJECT" value="Computer {$ComputerName} not found process."/>
    <add key="SMTP_BODY" value="Computer {$ComputerName} Process {$ProcessName}"/>
  </appSettings>
</configuration>